* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid #000958;
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 4px 3px 10px -1px #bf290066;
}

/* Header */
.header__top {
    padding-top: 26px;
}

.header__top-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    column-gap: 36px;
}

.header__link {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    color: #5e6085;
}

.header__link:hover {
    color: #000958;
}

.header__sign {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #000958;
    height: 50px;
    min-width: 117px;
    border-radius: 99px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.header__sign:hover {
    background: #ff5b2e;
    color: #fff;
    border-color: #ff5b2e;
}

.section-heading {
    font-family: Sora, sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    color: #656689;
}
/* Hero */
.hero {
    padding: 100px 117px 78px 77px;
}

.hero_inner {
    display: flex;
    align-items: center;
}

.hero__content {
    margin-top: 71px;
    margin-left: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__wrap {
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}
.hero__img-ct {
    max-width: 100%;
    max-height: 100%;
}

.hero__deco {
    position: absolute;
    z-index: -1;
}

.left {
    left: -58px;
    bottom: 10px;
}

.right {
    top: 16px;
    right: -57px;
}

.hero__small {
    width: 186px;
    height: 244px;
    background: #faa7ad;
    margin: 0 0 -58px -24px;
    align-self: flex-end;
}

.hero__title {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 76px;
    width: 517px;
    height: 228px;
    color: #000958;
}

.hero__desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    width: 380px;
    height: 90px;
}

.hero__row {
    align-items: center;
    gap: 24px;
    display: flex;
    margin-top: 60px;
}

.hero__btn {
    width: 189px;
    background: var(--primary-color);
    color: #fff;
    border: 1px solid #fd5056;
}

.hero__row-desc {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #000958;
}

.hero__row-desc:hover {
    border-bottom: 1px solid #000958;
}

.hero__list {
    left: 129px;
    bottom: 0px;
    position: absolute;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px #cfae8440;
    border-radius: 10px;
}

.hero__list-item {
    display: flex;
}

.hero__list-item__thumb {
    width: 40;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero__list-item__info {
    margin-left: 10px;
}

.hero__list-item__title {
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #181e52;
}

.hero__list-item__skeleton {
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 8%;
    border-radius: 10px;
    margin-top: 8px;
    background: #000958;
}

.hero__list-item__separate {
    margin: 20px 0;
    height: 2px;
    width: 100%;
    background: #f2f2f2;
    border-radius: 99px;
}

.hero__list-item:nth-child(3) .hero__list-item__thumb {
    background: #6597c2;
}

.hero__cta-btn {
    --height: 60px;
    box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}

/* About */

.about {
    margin-top: 207px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__lable {
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading,
.about__desc {
    margin-top: 15px;
    width: 444px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
    margin-top: 54px;
}

.about__check-item::before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(256, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 18px;
    color: #48496a;
    white-space: nowrap;
}

.about__check-item::after {
    position: absolute;
    top: 3px;
    left: 3px;
    content: url(../img/check-icon.svg);
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 31px 26px;
    width: 136px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px #55f0ff2b;
    border-radius: 10px;
    text-align: center;
}

.about__card-title {
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
}

.about__card-desc {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #c6f4f9;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    content: "";
    z-index: -1;
    height: 336px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
}

.about__img {
    display: block;
    margin: 0 auto;
    width: 450px;
}

.about__media-decor {
    z-index: -1;
    position: absolute;
    right: -50px;
    top: 157px;
}

.about__img-wrap__bottom {
    width: 458px;
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%),
        linear-gradient(0deg, #ffffff, #ffffff);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px #bea58b2b;
    border-radius: 18px;
}

.about__img-wrap__bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}
.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about__decor-img:nth-child(3) {
    right: -21px;
    top: 33px;
}
.about__decor-img:nth-child(4) {
    right: -24px;
    bottom: -40px;
}
.about__decor-img:nth-child(5) {
    right: -33px;
    bottom: -47px;
}
.about__decor-img:nth-child(6) {
    right: -42px;
    bottom: -55px;
}
.about__decor-img:nth-child(7) {
    top: 268px;
    right: -33px;
}
.about__decor-img:nth-child(8) {
    bottom: 150px;
    right: 19px;
}

.section__desc {
    margin-top: 24px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item-active::after,
.tab__content-link::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.07;
}

.tab__item-active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.section-desc {
    width: 511px;
    margin-bottom: 52px;
}

.tab__content {
    padding-top: 36px;
}

.tab__content-link {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px;
    color: #ff5d31;
}

.tab__content-link::after {
    opacity: 1;
    height: 1.5px;
}

.tab__content-desc {
    padding-bottom: 32px;
    width: 391px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    color: #656689;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 18px;
    color: #48496a;
}

.tab__content-items {
    display: none;
}

.tab__content-items-active {
    display: block;
}

/*Service*/

.service {
    margin-top: 198px;
    background: #fff6ed;
    padding: 68px 0 100px 0;
}

.service__top {
    text-align: center;
    margin-bottom: 71px;
}

.service__desc,
.staff__desc {
    margin-bottom: 15px;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 16px;
    color: #5e6085;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 71px;
}

.service__item {
    width: 294px;
    padding: 30px;
    background: #ffffff;
    border: 2px solid rgba(256, 188, 122, 0.26);
    border-radius: 10px;
}

.service__item-heading {
    position: relative;
    padding-left: 12px;
    margin-bottom: 18px;
    font-family: Sora, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #000958;
}

.service__item-heading::before {
    position: absolute;
    content: "";
    inset: 0 auto 0 0;
    display: inline-block;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(89.89deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service__item-desc {
    min-width: 244px;
    margin-bottom: 24px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    color: #656689;
}

.learnmore {
    display: flex;
    align-items: center;
    gap: 6px;
}

.service__item-link {
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 12px;
    color: #34396a;
}

.service__item + .service__item {
    margin-top: 24px;
}

.service__media {
    margin-top: 18px;
    position: relative;
}

.service__media::after {
    content: "";
    position: absolute;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.service__cta {
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__wrap {
    min-width: 214px;
    color: #ff5b2e;
    border-color: currentColor;
}

.service__wrap:hover {
    background: #ff5b2e;
    color: #fff;
}

/* Staff */

.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff__item {
    text-align: center;
}

.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 35px;
}

.staff__item-img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff__item-img-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
    width: calc(100% + 36px);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff__item:nth-child(1) .staff__item-img-wrap::after {
    background-image: url(../img/staff-deco1.svg);
}
.staff__item:nth-child(2) .staff__item-img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff__item:nth-child(2) .staff__item-img-wrap::after {
    background-image: url(../img/staff-deco2.svg);
}
.staff__item:nth-child(3) .staff__item-img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff__item:nth-child(3) .staff__item-img-wrap::after {
    background-image: url(../img/staff-deco3.svg);
}
.staff__item:nth-child(4) .staff__item-img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff__item:nth-child(4) .staff__item-img-wrap::after {
    background-image: url(../img/staff-deco4.svg);
}

.staff__item:nth-child(even) .staff__item-img-wrap::after {
    background-position: 0 16px;
}

.staff__item-img-wrap::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__item-img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
}

.staff__item-title {
    margin-top: 34px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
    color: #656689;
}

.staff__item-name {
    margin-top: 14px;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px;
    color: #000958;
}

.staff__cta-wrap {
    margin-top: 48px;
    text-align: center;
}

.staff__cta-wrap-active {
    color: #ff5b2e;
    border-color: #ff5b2e;
    min-width: 193px;
}

.staff__cta-wrap-active:hover {
    background: #ff5b2e;
    color: #fff;
}

/* Pricing */

.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__desc,
.pricing__heading {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    border: 1px solid #ff5b2e99;
    border-radius: 99px;
    padding: 0 40px;
    user-select: none;
}

.pricing__switch-label::before {
    content: "";
    position: absolute;
    width: 142px;
    height: 100%;
    top: 0;
    left: 0;
    background: #ff5b2e;
    border-radius: inherit;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ffffff;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    left: auto;
    right: 0;
    width: 131px;
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-child(2),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-child(1) {
    color: #ff5b2e;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__img {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__column {
    margin-top: 56px;
    width: 302px;
    background: #fff;
    border-radius: 20px;
}

.pricing__column:nth-child(1) {
    margin-left: 88px;
}

.pricing__column:nth-child(3) {
    margin-right: 88px;
}

.pricing__column-body {
    padding: 30px 0 43px 28px;
}

.pricing__column-value {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 12px;
    color: #ff5b2e;
}

.pricing__column-note {
    margin-top: 8px;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 18px;
    color: #3f4065;
}

.pricing__column-heading {
    margin-top: 24px;
}

.pricing__column-cta {
    margin-top: 22px;
    min-width: 246px;
    height: 44px;
    border-color: #ff5b2e;
    color: #ff5b2e;
}

.pricing__column-cta:hover {
    background: #ff5b2e;
    color: #fff;
}

.pricing__column-list {
    margin-top: 24px;
}

.pricing__column-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
    color: #656689;
}

.pricing__column-item:nth-child(1)::before {
    content: url(../img/check-pricing.svg);
    padding-right: 12px;
}
.pricing__column-item:nth-child(2)::before {
    content: url(../img/check-pricing.svg);
    padding-right: 12px;
}
.pricing__column-item:nth-child(3)::before {
    content: url(../img/check-pricing.svg);
    padding-right: 12px;
}
.pricing__column-item:nth-child(4)::before {
    content: url(../img/check-pricing.svg);
    padding-right: 12px;
}

.pricing__column-item:nth-child(5)::before {
    content: url(../img/check-opacity.svg);
    padding-right: 12px;
}

.pricing__column-item:nth-child(6)::before {
    content: url(../img/check-opacity.svg);
    padding-right: 12px;
}

.pricing__column-item:nth-child(7)::before {
    content: url(../img/check-opacity.svg);
    padding-right: 12px;
}

.pricing__column-item:nth-child(7) {
    margin-bottom: 0;
}

.pricing__inner-body {
    display: flex;
    justify-content: space-between;
}

/* Reviews */

.reviews {
    padding: 53px 0;
}

.reviews__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.reviews__control {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    background: transparent;
    color: #ff5b2e;
}

.reviews__control:hover {
    background: #ff5b2e;
    color: #fff;
    cursor: pointer;
}

.reviews-items {
    display: flex;
    align-items: center;
    column-gap: 151px;
}

.reviews__item-content {
    margin-top: 80px;
}

.reviews__item-media {
    position: relative;
    width: 274px;
    border-radius: 137px;
}

.reviews__item-media::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 82%;
    background: #ffda54;
    border-radius: inherit;
}

.reviews__item-img {
    display: block;
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    width: 100%;
    border-radius: inherit;
}

.reviews__item-quote {
    width: 553px;
    margin-top: 24px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 28px;
    color: #000;
}

.reviews__item-author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 18px;
    color: #282828;
}

.reviews__item-author::before {
    content: "";
    margin-right: 8px;
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #000;
}

.reviews__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.reviews__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ff5b2e;
}

.reviews__dot:hover {
    background: #ff5b2e;
    cursor: pointer;
}

.reviews__dot-active {
    width: 24px;
    background: #ff5b2e;
    border-radius: 4px;
}

/* Blog */

.blog {
    padding: 78px 0;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__info {
    width: 350px;
    margin-right: 74px;
}

.blog__desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px;
    color: #656689;
}

.blog__cta {
    color: #ff5b2e;
    border-color: #ff5b2e;
    min-width: 182px;
    margin-top: 24px;
}

.blog__cta:hover {
    color: #fff;
    background: #ff5b2e;
    border-color: #ff5b2e;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    margin-top: 54px;
}

.blog__item-img__wrap {
    padding: 24px 0 0 36px;
    background: #90ccff;
    border-radius: 24px;
}

.blog__item:nth-child(2) .blog__item-img__wrap {
    background: #ff997e;
}

.blog__item:nth-child(3) .blog__item-img__wrap {
    background: #5bd6e2;
}

.blog__item-img {
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 296px;
    object-fit: cover;
}

.blog__item-time {
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21;
    color: #fff;
}

.blog__item-info {
    margin-top: 28px;
}

.blog__item-title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 34px;
    color: #000958;
}

.blog__item-desc {
    margin-top: 16px;
    width: 351px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    color: #656689;
}

/*Footer*/
.footer {
    margin-top: 53px;
    background: linear-gradient(to right, #fff6ed 43%, #fff 43%);
}

.footer__inner {
    display: flex;
}

.footer__left {
    padding: 114px 0 148px;
}

.subscribe-form {
    margin-top: 34px;
    margin-bottom: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 268px;
    height: 46px;
    border-radius: 99px;
    border: 1px solid #ff5b2e40;
    background: #fff;
}

.subscribe-form__input {
    width: 100%;
    height: 100%;
    padding: 0 22px;
    border: none;
    outline: none;
    border-radius: 99px;
    font-size: 1.4rem;
}

.subscribe-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    margin-right: -1px;
    border-radius: 50%;
    background: #ff5b2e;
    border-color: #ff5b2e;
    flex-shrink: 0;
    outline: none;
    border: none;
    box-shadow: 0px 15px 28px -7px #ff5b2e4d;
}

.subscribe-form__submit::placeholder {
    font-weight: 300;
    font-size: 1.12rem;
    line-height: 1.17;
    color: #656689;
    opacity: 0.8;
}

.subscribe-form__submit:hover {
    cursor: pointer;
    opacity: 0.9;
}

.footer__left {
    width: 42%;
}

.footer__heading {
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 20px;
    color: #000958;
}

.social__list {
    display: flex;
    margin-top: 16px;
    column-gap: 16px;
}

.social__item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__right {
    flex: 1;
    padding: 52px 0 48px 0;
}

.footer__row {
    margin-left: 129px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 58px 137px;
}

.footer__list {
    margin-top: 14px;
}

.footer__link {
    font-size: 1.4rem;
    line-height: 2;
    color: #656689;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copy {
    margin-top: 52px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 14px;
    color: #656689;
}
